<div class="delegacion-profile">
    
    <div class="profile-header">
        <span>{{delegacion.name}}</span>
        <button class="btn btn-primary">Afiliate</button>
    </div>
    <hr/>

    <div class="grid-container">

        <div class="left-pane">
            <img class="profile-img" [src]='delegacion.imageSrc' />
    
            <ul class="profile-info">
                <li><span class="info-header">correo:</span> {{delegacion.email}}</li>
                <li><span class="info-header">telefono:</span> {{delegacion.phone}}</li>
                <li><span class="info-header">direccion:</span> {{delegacion.address}}</li>
            </ul>
        </div>
    
    
        <div class="right-pane">
            <ul class="convenio-list">
                <li *ngFor="let convenio of convenios" class="convenio-item">
                    <span>FileIconHere</span>
                    <span>{{convenio.name}}</span>
                    <span class="actions">
                        <span>DownloadIconHere</span>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>
