<div class="delegacion-profile">
    
    <div class="profile-header">
        <span>{{delegacion.name}}</span>
        <button class="btn btn-primary">Afiliate</button>
    </div>
    <hr/>

    <div class="grid-container">

        <div class="left-pane">
            <img class="profile-img" [src]='delegacion.imageSrc' />
    
            <ul class="profile-info">
                <li><span class="info-header">correo:</span> {{delegacion.email}}</li>
                <li><span class="info-header">telefono:</span> {{delegacion.phone}}</li>
                <li><span class="info-header">direccion:</span> {{delegacion.address}}</li>
            </ul>
        </div>
    
    
        <div class="right-pane">
            <h1>Convenios</h1>
            <ul class="convenio-list">
                <li *ngFor="let convenio of convenios" class="convenio-item">
                    <div class="left">
                        <div><i-feather style="width: 20px; height: 20px" name="file"></i-feather></div>
                        <div class="file-name">{{convenio.name}}</div>
                    </div>
                    <div class="right">
                        <i-feather style="width: 20px; height: 20px" name="download"></i-feather>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
