.profile-img {
    width: 10vw;
    height: 10vw;
    
    background-size: cover;
    background-position: center;
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.33);
}

.delegacion-profile { margin-top: 16px; }

.grid-container {
    margin-top: 16px;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        "profile-header profile-header profile-header profile-header profile-header"
        "about about about directivos directivos"
        "asociados asociados asociados asociados asociados"
        "posts posts posts posts posts"
        "convenios convenios convenios convenios convenios"
    ;
}
.timestamp {
    font-size: 10px;
    opacity: 0.33;
}
.directivos { grid-area: directivos; }
.directivos ul {
    list-style-type: none;
    padding-left: 0;
}
.directivos ul li {
    margin-left: 0;
}

.profile-details {
    height: 100%;
    display: grid;
    gap: 16px;
    grid-template-rows: 0.2fr 1fr;
}
.profile-info {
    font-size: 10px;
    list-style-type: none;
    margin-top: 8px;
    padding: 8px;
    
}
.about { grid-area: about; }
.asociados { grid-area: asociados; }
.about-text { grid-column: 1 / span 3; }
.posts-container { grid-area: posts; }
.section {
    background-color: white;
    border:0.5px solid rgba(0, 0, 0, 0.1);
    padding: 64px;
}
.president { grid-area: president; } 
.president .profile-img { margin: auto; }
.profile-header {
    font-weight: bold;
    font-size: 2.5vw;
    padding: 16px 0 16px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.profile-header button { margin-left: 16px; }

.profile-info li { margin-bottom: 8px; }
.profile-details .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}
.profile-details .body {
    display: grid;
    padding: 8px;
    grid-template-columns: 0.35fr 0.35fr;
}
.field {
    opacity: 0.5;
    margin-right: 16px;
}
.value { font-weight: bold; }

.header-title { font-size: 2vw; }
.header-section {
    grid-area: profile-header;
    background-color: white;
    padding: 64px;
    display: grid;
    gap: 16px;
    grid-template-columns: 0.10fr 1fr;
    align-items: center;
}

.info-header { font-weight: bold; }

.convenios { grid-area: convenios; }
.convenio-list {
    list-style-type: none;
    padding: 0 !important;
}

.file-name {
    display: inline-flex;
    align-items: center;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-areas: 
            "profile-header profile-header profile-header profile-header profile-header"
            "about about about about about"
            "directivos directivos directivos directivos directivos"
            "asociados asociados asociados asociados asociados"
            "posts posts posts posts posts"
            "convenios convenios convenios convenios convenios"
        ;
    }
}