<div class="delegacion-profile">
    
    

    <div class="grid-container">

        <div class="section profile-section">
            <div [style.background-image]="'url(' + delegacion.imageSrc +')'" class="profile-img"></div>
            <div class="profile-details">
                <div class="profile-header">
                    <span>{{delegacion.name}}</span>
                    <button class="btn btn-primary">Afiliate</button>
                </div>
                <hr/>
                <ul class="profile-info">
                    <li><i-feather name="mail" style="width: 20px; height: 20px; margin-right: 8px;"> </i-feather>{{delegacion.email}}</li>
                    <li><i-feather name="phone" style="width: 20px; height: 20px; margin-right: 8px;"> </i-feather> {{delegacion.phone}}</li>
                    <li><i-feather name="map-pin" style="width: 20px; height: 20px; margin-right: 8px;"> </i-feather> {{delegacion.address}}</li>
                </ul>
            </div>
        </div>
    
    
        <div class="section details-section">
            <h1>Convenios</h1>
            <ul class="convenio-list">
                <li *ngFor="let convenio of convenios" class="convenio-item">
                    <div class="left">
                        <div><i-feather style="width: 20px; height: 20px" name="file"></i-feather></div>
                        <div class="file-name">{{convenio.name}}</div>
                    </div>
                    <div class="right">
                        <i-feather style="width: 20px; height: 20px" name="download"></i-feather>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
