<form #form="ngForm" 
    (ngSubmit)="searchAsociados(form, $event)">
    <div class="filters">

        <div class="form-group search-bar">
            <input [(ngModel)]='this.searchForm.name' name="name" type="text" class="form-control" placeholder="Nombre de Asociado">
        </div>
        <div class="form-group especialidad">
            <input [(ngModel)]='this.searchForm.especialidadId' name="especialidadId" type="text" class="form-control" placeholder="Especialidad">
        </div>
        
        <div class="form-group search">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>

        <div *ngIf='!minified' class="delegacion">
            <input name="delegacionId" #delegacionId="ngModel" ngModel type="text" class="form-control" placeholder="Delegacion">
        </div>
        
    </div>
    <div class="search">
        <button type="submit" class="btn btn-primary">Buscar</button>
    </div>
</form>