<div class="navbar-container">
   <div class="brand">
    <a href="#" class="navbar-brand">
      <img src="../assets/images/logo.png" alt="AMIC Logo" [style.width.px]="50">
    </a>
  </div> 
  <div class="nav-elements">
    <ul>
      <li *ngFor="let navRoute of navRoutes" class="nav-item">
        <a 
          [routerLink]='navRoute.routes'
          class="nav-link">
          <app-nav-link 
            [routes]='navRoute.routes' 
            [routeName]='navRoute.routeName'></app-nav-link>
        </a>
      </li>
      
      <hr [ngStyle]='checkCurrentRoute()' class="nav-underline" />
    </ul>
  </div>
</div>

<app-under-construction></app-under-construction>

<div class="ml-3 mr-3 row site-container">
  <!--page content here-->
  <div class="navigation-pane">
    <button class="btn btn-primary">Afiliate</button>
  </div>
  <div class="router-pane">
    <router-outlet></router-outlet>
  </div>
  <div class="news-pane">
    <h3>Noticias</h3>
  </div>
</div>
