.navbar-container {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;

    padding: 16px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;
    z-index: 100;
}
.brand {
    position: absolute;
    left: 32px;
}
.nav-elements {
    width: 10vw;
}
ul {
    width: 100%;
    padding: 0 !important;
    margin-bottom: 0 !important;
}
ul li {
    display: inline;
    text-align: center;
}

a {
    display: inline-block;
    width: 50%;
    padding: .75rem 0;
    margin: 0;
    text-decoration: none;
    color: #333;
}
.nav-item {
    display: inline;
    text-align: center;
}
hr.nav-underline {
    height: .25rem;
    width: 50%;
    margin: 0;
    background: #4285F4;
    border: none;
    border-radius: 50px;
    transition: .2s ease-in-out;
}

.site-container {
    margin-top: 150px;
}

.navigation-pane {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}
.router-pane {
    width: 100%;
}


